.cards {
	display: flex;
	flex-wrap: wrap;
}

.location {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	}

.card {
	background: black;
	padding: 20px;
	color:  whitesmoke;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
	margin: 10px 10px;
	flex-basis: 320px;
	flex-grow: 1;
 }

.card h3 {
	font-family: 'Arvo';
	font-weight: bolder; 
	font-size: 18px;
}

#lastcard {
	background: rgb(37, 109, 133);
}